html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.banner{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #1e407c;
    color:aliceblue;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: content-box;
}

.banner h3{
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}   